body {
  margin: 0;
  background-color: #3f3f3f;
}

.App {
  font-family: sans-serif;
}

.containerOne {
  background-color: #fff;
  border-radius: 25px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.containerOne div {
  margin: 20px 15px;
}

.form {
  border: 2px solid dodgerblue;
  padding: 20px;
  border-radius: 25px;
}

.containerTwo {
  background-color: #fff;
  border-radius: 25px;
  margin: 0 auto;
  padding: 10px 30px;
}

.taskH1 {
  color: #000;
  text-align: center;
}

.col {
  margin: 1px;
  border: 1px solid #000;
}

.cardBtn {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
}
