body {
  margin: 0;
  background-color: #3f3f3f;
}

.App {
  font-family: sans-serif;
}

.containerOne {
  background-color: #fff;
  border-radius: 25px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.containerOne div {
  margin: 20px 15px;
}

.form {
  border: 2px solid dodgerblue;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.containerTwo {
  background-color: #fff;
  border-radius: 25px;
  margin: 0 auto;
  padding: 10px 30px;
}

.taskH1 {
  color: #000;
  text-align: center;
}

.col {
  margin: 10px 0;
}

.taskCard {
  width: 17rem;
  margin: "10rem auto";
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.cardBtn {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
}

.reminderBox {
  display: flex;
  align-items: center;
}

.completionBox {
  display: flex;
  width: 10rem;
  position: absolute;
  bottom: 10px;
  right: 3px;
}

.reminder,
.completion {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  padding: 2px 15px;
  border-radius: 15px;
}

.completion {
  margin: 10px 3px;
}
